/* You can add global styles to this file, and also import other style files */
.card {
  background-color: white;
  border-radius: 25px;
  border: 1px solid;
  text-align: center;
}

.esempio {
  border: 1px solid red;
  background-color: yellow;
  text-align: center;
}
